<h1>{{name}}</h1>
<div class="cont">
  <div class="desc">
    <p>Capital: <span class="text">{{capital}}</span></p>
    <p>Population: <span class="text">{{population}}</span></p>
    <p>Languages:</p>
    <ul>
      {{#each languages}}
      <li class="text">{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="img">
    <img class="flag" src="{{flag}}" alt="{{name}}" />
  </div>
</div>


